/*****************************
    Add All Typography Here
*****************************/

/******** Styling ********/

html {
    font-size: 1rem;
}

body {
    font-size: 1em;
    font-family: 'Inter';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}