// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*************** Home CSS ***************/

//------------------Hero----------------\\
.hero-carousel .owl-carousel .owl-theme .owl-dots{
    position: absolute;
    bottom: 30px;
    left: 45%;
}
.hero {
    &-section {
        padding-top: 100px;
        padding-bottom: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        &__content {
            text-align: center;
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;

            h4 {
                color: #CDCDCD;
                font-size: 1.5em;
                margin-bottom: 0.5em;
                line-height: 1.4;
                font-weight: 400;
            }

            h1 {
                color: #ffffff;
                font-size: 5em;
                margin-bottom: 0.275em;
                line-height: 1.4;
            }

            .main-btn {
                color: #ffffff;
            }
        }
    }
}
.header-info {
    &-content {
        display: flex;
        &-item {
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 8px;
            width: 33.33%;
            text-align: center;
            justify-content: space-between;
            color: $primaryColor;
            line-height: 1.3;
        }
        &-item:not(:last-child) {
            border-right: 1px solid white;
        }
    }
}


@media only screen and (min-width: 768px) {
    .header-info-content-item {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
        width: 33.33%;
        text-align: center;
        justify-content: space-between;
        color: $primaryColor;
        line-height: 1.3;
    }
}


//----------------Hot deals section----------------\\
.hot-deals {
    &__carousel {
        .owl-nav {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
        }
        &--area {
            padding-left: 75px;
            position: relative;

            .owl-carousel {
                position: unset;
            }
        }

        .item {
            background-color: #ffffff;
            border: 1px solid $borderColor;
            border-radius: 8px;
            height: 100%;
        }
    }
}


//----------------Featured Category----------------\\
.featured-category {
    &__grid {
        &--item {
            flex: 0 0 auto;
            width: 20%;
        }
    }
}


//----------------New Product----------------\\
.owl-carousel .new-product__carousel {
    display: none;

    &.active {
        display: block;
    }
}
.active {
    color: $secondaryColor  !important;
}
.new-product__section{
    .section-header__action--tab {
        li {
            font-size: 14px;
            display: inline-block;
            cursor: pointer;
        }
    
        li:not(:last-child) {
            margin-right: 15px;
        }
    }
}


//----------------Trending Offer----------------\\
.trending_offers--section {
    display: flex;
    border: 1px solid $borderColor;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 54px 48px;

    &--left {
        padding-top: 90px;
        padding-bottom: 90px;
        max-width: 250px;

        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 2px;
            padding-bottom: 15px;
            color: $primaryColor;
        }

        p {
            max-width: 200px;
            font-size: 17px;
            font-weight: 400px;
            line-height: 20px;
            letter-spacing: 1px;
            padding-bottom: 20px;
            color: $grayColor;
        }

        button {
            background-color: $secondaryColor;
            padding: 8px 20px;
            border-radius: 8px;
            border: none;
            color: white;
            font-size: 16px;
        }
    }

    &--right {
        .trending__img {
            padding-top: 20px;
            padding-bottom: 20px;
            height: 430px;
            width: auto;
        }
    }
}


//----------------Featured Product----------------\\
.owl-carousel.featured-product__carousel {
    display: none;

    &.active {
        display: block;
    }
}
.featured-product__section{
    .section-header__action--tab {
        li {
            font-size: 14px;
            display: inline-block;
            cursor: pointer;
        }
    
        li:not(:last-child) {
            margin-right: 15px;
        }
    }
}


//----------------Form section----------------\\
.form--section {
    background-color: #DEDFE1;

    &__content {
        width: 500px;
        padding-left: 80px;
        padding-top: 30px;
        padding-bottom: 80px;

        h1 {
            font-size: 36px;
            line-height: 40px;
            font-weight: 700;
            letter-spacing: 2px;
            color: $primaryColor;
            padding-bottom: 15px;

            span {
                color: $secondaryColor;
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2px;
            color: $grayColor;
            padding-bottom: 15px;
        }

        .input__content {
            display: flex;

            &--tag {
                width: 400px;
                border-radius: 4px;
                padding: 6px 15px;
                border: none;
                font-size: 16px;
                margin-bottom: 15px;
            }

            &--button {
                width: 90px;
                font-size: 16px;
                height: 37px;
                border-radius: 4px;
                border: none;
                color: white;
                background-color: $secondaryColor;
            }

            &--checkbox {
                font-size: 12px;
                padding-left: 5px;
            }
        }
    }
}


//----------------Article Section----------------\\
.article--section {
    &__img {
        padding-bottom: 15px;
    }

    &__date {
        font-size: 14px;
        color: $secondaryColor;
        padding-bottom: 15px;
    }

    &__head {
        font-size: 18px;
        font-weight: 700;
        color: $primaryColor;
        padding-bottom: 15px;
    }

    &__para {
        font-size: 14px;
        font-weight: 400;
        color: $grayColor;
        padding-bottom: 15px;
    }

    &__button {
        font-size: 14px;
        font-weight: 400;
        color: $primaryColor;
        border: none;
        padding: 3px 5px;
    }
}


//----------------footer----------------\\
.footer__section {
    background-color: $primaryColor;
    height: 60%;

    .row {
        border-bottom: 1px solid;
    }

    &--content {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 80px;
        padding-right: 80px;

        &--head {
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            padding-bottom: 10px;
        }

        &--para {
            color: $grayColor;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &--copyright {
        text-align: center;
        font-size: 12px;
    }
}

.featured-category__carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -53px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
//----------------Responsive----------------\\
@include breakpoint-max(991px) {

    // Hot Deals Carousel 
    .hot-deals__carousel {
        &--area {
            padding-left: 0;
        }
        .owl-stage-outer {
            margin-bottom: 25px;
        }
        &.owl-theme .owl-nav {
            position: unset;
            top: auto;
            left: auto;
            transform: none;
            flex-direction: row;
            justify-content: center;
            button {
                font-size: 30px;
                color: $secondaryColor;
                margin-left: 0.3em;
                margin-right: 0.3em;
            }
        }
        .new-product{
            &__area {

            }
            
            &.owl-theme .owl-nav {
                position: absolute;
                top: 50%;
                button {
                    
                }
            }
        }
    }
    
    // Featured Category 
    .featured-category {
        &__grid {
            &--item {
                width: 33%;
            }
        }
    }
}
@include breakpoint-max(991px) {
    // Featured Category 
    .featured-category {
        &__grid {
            &--item {
                width: 33%;
            }
        }
    }
}
@include breakpoint-min(992px) {
    .hot-deals__carousel.owl-carousel .owl-nav button{
        font-size: 30px;
        color: $secondaryColor;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
    
}