// Add variables here
@use '../abstracts/variables' as *;

// Picture CSS

.product {
    &-info {
        &__section {
            display: flex;
            position: relative;
            
            @media only screen and (min-width: 992px) {
                padding-top: 100px;
                padding-bottom: 100px;
                overflow: hidden;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #f8f8f8;
                    width: calc(50% + 140px);
                    height: 100%;
                    transform: skewX(-18deg) translateX(-95px);
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #000000;
                    width: calc(50% + 100px);
                    height: 100%;
                    transform: skewX(-18deg) translateX(142px);
                }
            }

            @media only screen and (min-width: 1200px) {
                &:before {
                    transform: skewX(-18deg) translateX(-100px);
                }

                &:after {
                    transform: skewX(-18deg) translateX(100px);
                }
            }

            .container {
                position: relative;
                z-index: 11;
            }

            @media only screen and (min-width: 1200px) {
                &:before {
                    transform: skewX(-18deg) translateX(-100px);
                }

                &:after {
                    transform: skewX(-18deg) translateX(100px);
                }
            }

            .container {
                position: relative;
                z-index: 11;
            }

            @media only screen and (max-width: 991px) {
                .container {
                    max-width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                }
                .product-info__item {
                    &:nth-child(1) {
                        background-color: #fff;
                    }
                    &:nth-child(2) {
                        background-color: #000000;
                    }
                }
            }

            &--left {
                position: relative;

                @media only screen and (max-width: 991px) {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    max-width: 720px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-right: calc(var(--bs-gutter-x) * .5);
                    padding-left: calc(var(--bs-gutter-x) * .5);
                }
                @media only screen and (max-width: 767px) {
                    max-width: 540px;
                }
                @media only screen and (min-width: 992px) {
                    padding-right: 155px;
                    padding-bottom: 110px;
                    &:after {
                        content: "";
                        width: 60%;
                        height: 1px;
                        border-top: 1px dashed $secondaryColor;
                        left: 25px;
                        bottom: 0;
                        position: absolute;
                    }
                }
                @media only screen and (min-width: 1200px) {
                    padding-right: 246px;
                }
            }
            &--action {
                display: flex;
                .button-camera{
                    background-color: $secondaryColor;
                    padding: 9px 35px;
                    border-radius: 5px;
                    border: none;
                    color: white;
                    font-size: 18px;
                }
                @media only screen and (max-width: 768px) {
                    .button-camera{
                        padding: 7px 20px;
                        font-size: 14px;
                    }
                }
                @media only screen and (min-width: 992px) {
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    position: relative;
                    .product-info__shape {
                        position: absolute;
                        top: -15px;
                        right: 0;
                    }
                }
                @media only screen and (max-width: 991px) {
                    align-items: center;
                    .button-camera{
                        margin-right: 20px;
                        position: relative;
                        top: -9px;
                    }
                    .product-info__shape {
                        width: 95px;
                        height: 95px;
                        span {
                            font-size: 14px;
                        }
                        h4 {
                            font-size: 26px;
                        }
                    }
                }
            }

            &--right{
                position: relative;
                color: #fff;

                @media only screen and (max-width: 991px) {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    max-width: 720px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-right: calc(var(--bs-gutter-x) * .5);
                    padding-left: calc(var(--bs-gutter-x) * .5);
                }
                @media only screen and (max-width: 767px) {
                    max-width: 540px;
                }
                @media only screen and (min-width: 992px) {
                    margin-left: 155px;
                    padding-bottom: 78px;
                    margin-right: 70px;
                    &:after {
                        content: "";
                        width: 95%;
                        height: 1px;
                        border-top: 1px dashed $secondaryColor;
                        right: 0;
                        bottom: 0;
                        position: absolute;
                    }
                }
            }
            &--action--right{
                display: flex;
                .product-info__specialOffer{
                    font-size: 25px;
                    width: 20px;
                    font-weight: 300;
                    color: white;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 65px;
                        height: 125px;
                        border: 1px solid #7e7c7c;
                        border-radius: 50px/85px;
                        transform: rotate(75deg) translate(-25px, -6px);
                        z-index: -1;
                    }
                }
                @media only screen and (min-width: 992px) {
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    position: relative;
                    .product-info__shape {
                        position: absolute;
                        top: -15px;
                        right: 0;
                    }
                }
                
                @media only screen and (max-width: 991px) {
                    align-items: center;
                    .product-info__specialOffer{
                        position: relative;
                        font-size: 19px;
                        font-weight: 400;
                        padding-left: 20px;
                        margin-right: 90px;
                        border-radius: 5px;
                        padding-bottom: 4px;
                        top: 0px;
                        &:before {
                            top: 0;
                            left: 0;
                            width: 50px;
                            height: 95px;
                            border: 1px solid #7e7c7c;
                            border-radius: 50px/85px;
                            transform: rotate(75deg) translate(-13px, -29px);
                            z-index: 1;
                        }
                        }
                }
                .product-info__shape {
                    width: 95px;
                    height: 95px;
                    span {
                        font-size: 14px;
                    }
                    h4 {
                        font-size: 26px;
                    }
                }
            }
            
            &--content {
                h3 {
                    font-size: 41px;
                    font-weight: 800;
                    
                }
                @media only screen and (max-width: 768px) {
                    h3{
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                p {
                    font-size: 22px;
                    font-weight: 400;
                    padding-bottom: 30px;
                }
                @media only screen and (max-width: 768px) {
                    p{
                        font-size: 15px;
                    }
                }
            }

            &--camera {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-59%, -47%);
                width: 350px;
                z-index: 1;

                @media only screen and (min-width: 1200px) {
                    transform: translate(-70%, -51%);
                    width: 395px;
                }
            }
            @media only screen and (max-width: 991px) {
                &--camera {
                    visibility: hidden;
                }
            }
        }

        &__shape {
            width: 125px;
            height: 125px;
            border: 2px solid $secondaryColor;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                font-size: 20px;
            }

            h4 {
                font-size: 37px;
            }
        }
        @media only screen and (max-width: 275px) {
            &__shape{
                visibility: hidden;
            }
        }
    }
}