// Add variables here
@use '../abstracts/variables' as *;

button {
    border: 0;
    &:active, &:focus {
        border: 0;
        outline: 0;
    }
}

// Button CSS
.main-btn {
    padding: 0.9375em 1.875em;
    border-radius: 8px;
    border: 0;
    background-color: $secondaryColor;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    min-width: 125px;
    // font-family: 'Inter Semi Bold';
    &__border {
        border: 2px solid $secondaryColor;
        background-color: transparent;
        color: $secondaryColor;
    }
}