// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Carousel CSS
.owl {
    &-carousel {
        .owl-item {
            img {
                width: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &-theme {
        .owl-nav {
            margin: 0;
            [class*=owl-] {
                margin: 0;
                width: 55px;
                height: 55px;
                font-size: 30px !important;
                color: $secondaryColor !important;
                background-color: #ffffff !important;
                border-radius: 50%;
                box-shadow: 0px 0px 55px rgba(228, 228, 228, 0.55);
            }
        }
    }
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
}

// Responsive
@include breakpoint-max(1199px) {
    .owl {
        &-theme {
            .owl-nav {
                [class*=owl-] {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
}

@include breakpoint-max(991px) {
    .owl {
        &-theme {
            .owl-nav {
                margin-top: 30px;
                [class*=owl-] {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            .owl-dots {
                position: absolute;
                bottom: 30px;
                left: 43%;
            }
        }
    }
}
@include breakpoint-max(767px) {
    .owl-dots {
        left: 41%;
    }
}
@include breakpoint-min(992px) {
    .owl {
        &-theme {
            .owl-nav {
                [class*=owl-] {
                    position: absolute;
                    top: 50%;
                }
                .owl {
                    &-prev {
                        left: -22px;
                    }
                    &-next {
                        right: -22px;
                    }
                }
            }
            .owl-dots{
                left: 45%;
            }
        }
    }
}
@include breakpoint-min(1100px) {
    .owl {
        &-theme {
            .owl-nav {
                .owl {
                    &-prev {
                        left: -70px;
                    }
                    &-next {
                        right: -70px;
                    }
                }
            }
        }
    }
}
@include breakpoint-min(1350px) {
    left: 45%;
}