// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Carousel CSS
.owl {
    &-carousel {
    }
    &-theme {
        .owl-nav {
            margin: 0;
            [class*=owl-] {
                margin: 0;
                width: 55px;
                height: 55px;
                background-color: #ffffff !important;
                border-radius: 50%;
                box-shadow: 0px 0px 55px rgba(228, 228, 228, 0.55);
            }
        }
        .owl-dots{
            position: absolute;
            bottom: 30px;
            left: 46%;
        }
    }
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
}

.new-product__carousel{
    .owl {
        &-carousel {
        }
        &-theme {
            .owl-nav {
                .owl-prev{
                    position: absolute;
                    top: 50%;
                    left: -60px;
                }
            }
        }
    }           
}

// Responsive
@include breakpoint-max(991px) {
    .owl {
        &-theme {
            .owl-nav {
                [class*=owl-] {
                    width: 45px;
                    height: 45px;
                }
            }
            .owl-dots{
                position: absolute;
                bottom: 30px;
                left: 44%;
            }
        }
    }
}