// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Product Card CSS

.product-card {
    &__box {
        border: 1px solid #E3E3E3;
        border-radius: 8px;
        background-color: transparent;
        padding: 60px 25px;
        text-align: center;
        margin-bottom: 1em;
    }
    &__single {
        .product-card__box {
            padding: 40px 25px;
            figure {
                margin-bottom: 0;
                img {
                    height: 140px;
                    display: block;
                    object-fit: contain;
                }
            }
        }
    }
}

.product-card__info{
    padding: 8px 7px;
    font-size: 13px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    color: #ffffff;
    &--left {
        left: 15px;
    }
    &--right {
        right: 15px;
    }
    &--red {
        background-color: $secondaryColor;    
    }
    &--blue {
        background-color: $gray;
    }

}

.product-card {
    &__content {
        &--title {
            color: $titleRed;
            font-weight: 400;
            font-size: 14px;
            &:not(:last-child) {
                margin-bottom: 0.6em;
            }
        }

        &--subtitle {
            color: #0C0C0C;
            margin-bottom: 0.5em;
            font-size: 14px;
            font-weight: 400;
        }

        &--price {
            color: $primaryColor;
            font-size: 16px;
            font-weight: 600;
            del {
                opacity: 0.2;
                font-weight: 400;
            }
        }
    }
}

// Responsive
@include breakpoint-max(767px) {
    .product-card__box {
        padding: 40px 30px;
    }
}
@include breakpoint-min(1200px) {
    .product-card__box figure img {
        height: 150px;
    }
}