// Add variables here
@use '../abstracts/variables' as *;

// Add styles here
.section-header {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-bottom: 2em;
    h2 {
        font-size: 2em;
        font-family: 'Inter Semi Bold';
        margin-right: 10px;
        margin-top: 5px;
    }
    &__action {
        margin-top: 5px;
        a {
            font-size: 1em;
            display: inline-flex;
            align-items: center;
            i {
                margin-left: 5px;
                font-size: 0.9em;
            }
        }
    }
}